.report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.report span {
  font-size: 24px;
}
